<ion-view >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="app_list" >
		<ul>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>制作建议书</span>
						</dd>
					</dl>
					
				</li>
				<!-- <li class="new_app">
				</li> -->
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>电子投保</span>
						</dd>
					</dl>
					
				</li>
<!-- 				<li class="new_app">
				</li> -->
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>我的客户</span>
						</dd>
					</dl>
					
				</li>
				<li class="new_app">
					<span>开始下载</span>
				</li>
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>保单查询</span>
						</dd>
					</dl>
				</li>
				<!-- <li class="new_app">
				</li> -->
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>移动抢单</span>
						</dd>
					</dl>
				</li>
				<!-- <li class="new_app">
				</li> -->
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>移动收费</span>
						</dd>
					</dl>
				</li>
				<!--  -->
			</a>
			<a href="#">
				<li>
					<dl>
						<dt>
							<img ng-src="img/icon_4.jpg"/>
						</dt>
						<dd>
							<span>新的应用</span>
						</dd>
					</dl>
				</li>
				<li class="new_app">
					<span>开始更新</span>
				</li>
			</a>
		</ul>
	</div>
  </ion-content>
</ion-view>
