<ion-view >
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="app_list" >
            <ul id="app_list_ul">
                <!-- <a ng-repeat="app in app_array" ng-click="downloadOrUpdate($index,{{app.state}})">
                 <li>
                 <dl>
                 <dt>
                 <img ng-src="{{app.icon}}"/>
                 </dt>
                 <dd>
                 <span>{{app.name}}</span>
                 </dd>
                 </dl>
                 
                 </li>
                 <li id="{{app.appId}}li" ng-class="{'new_app':1==app.state}" ng-show="{{1==app.state}}">
                 <span>开始下载</span>
                 </li>
                 <li id="{{app.appId}}li" ng-class="{'new_app':2==app.state}" ng-show="{{2==app.state}}">
                 <span>开始更新</span>
                 </li>
                 </a> -->	
            </ul>
        </div>
    </ion-content>
</ion-view>